Host github.com
    HostName github.com
    User
    IdentityFile ~/.ssh/github
    IdentitiesOnly yes

Host gitlab.com
    HostName gitlab.com
    User
    IdentityFile ~/.ssh/gitlab
    IdentitiesOnly yes
